CONFIG_PROJECT_NAME="xiaoxiu"
CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_BOARD_CHOICE_LINKH_T5E1=y
CONFIG_PROJECT_VERSION="1.0.1"
CONFIG_TUYA_PRODUCT_ID="<your-PID>"
# CONFIG_ENABLE_COMP_AI_DISPLAY is not set
CONFIG_ENABLE_LIBLVGL=y
CONFIG_ENABLE_MBEDTLS_SSL_MAX_CONTENT_LEN=4096
CONFIG_BUTTION_STACK_SIZE=4096
CONFIG_ENABLE_SERIAL_CLI_CMD=y
